p {
	margin: $paragraph_margin;	
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.ui-list {
	margin-bottom: 20px;
	li {
		display: flex;
		gap: 15px;
		margin-bottom: 14px;
		line-height: 155.556%;
		letter-spacing: 0.36px;
		&::before {
			content: '';
			background-color: $primary;
			display: inline-block;             
			width: 20px;
			height: 20px;
			border-radius: 50%;
			flex-shrink: 0;
			margin-top: 4px;
			margin-left: 4px;			
			background-repeat: no-repeat no-repeat;
			background-position: center center;
			background-size: 10px 10px;
		}
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&-plus {
		li {
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1V9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 5H9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
			}
		}
	}

	&-check {
		li {
			&::before {
				background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9' viewBox='0 0 11 9' fill='none'%3E%3Cpath d='M1 4.5L4 7.5L10 1.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");                
				background-size: 11px 9px;
			}
		}
	}

	&-cross {
		li {
			&::before {
				background-color: $bgc-pink;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M1 1L7 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 1L1 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
				background-size: 8px 8px;
			}
		}
	}
	&-num {
		li {
			counter-increment: num;			
			&::before {
				content: counter(num);
				background-image: none;
				@include fz(14);
				line-height: 20px;
				font-weight: 400;
				color:#FFF;
				text-align: center;				
			}
		}
	}
}

li {
	list-style: none;	
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $basefont;
	font-weight: $headings_font_weight;
	// color: $headings_color;
	// margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;

	@media (max-width: 959px) {
		margin: 24px 0 16px;
	}
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1.15;

	// @media (min-width: 1440px) {
	// 	@include fz(60);
	// }

	@media (max-width: 1680px) {
		@include fz(110);
	}

	@media (max-width: 1366px) {
		@include fz(100);
	}

	@media (max-width: 1140px) {
		@include fz(90);
	}

	@media (max-width: 959px) {
		@include fz(69);
		line-height: 1.1;
	}

	@media (max-width: 768px) {
		@include fz(60);
		line-height: 1.1;
	}

	@media (max-width: 599px) {
		@include fz(46);
		line-height: 1.14;
	}
	@media (max-width: 360px) {
		@include fz(42);
		line-height: 1.14;
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;	
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.35px;

	@media (max-width: 959px) {
		@include fz(40);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 145.938%;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.96px;

	@media (max-width: 959px) {
		@include fz(32);
	}

	@media (max-width: 599px) {
		@include fz(26);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);
	text-transform: uppercase;	
	font-weight: 600;
	line-height: 133.333%;
	@include ls(0.69);
	padding-top: 34px;
	padding-bottom: 14px;
}
h5, .h5 {
	@include fz($h5);
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $font;
	text-decoration: none;
	outline: none;
	transition: color .5s, border .5s;
}
b, strong {
	font-weight: 700;
}
.wrapper img {
	max-width: 100%;
	height: auto;
}

.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
.ui-centered {
	text-align: center;
}
.section {
	padding-top: 80px;
	padding-bottom: 80px;

	@media (max-width: 1366px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media (max-width: 1024px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media (max-width: 599px) {
		padding-top: 37px;
		padding-bottom: 48px;
	}

	&-title {
		text-align: center;
		margin-bottom: 60px;
		@include fz($h3);
		line-height: 145.938%;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.96px;

		@media (max-width: 1366px) {
			@include fz(30);			
			margin-bottom: 40px;	
		}

		@media (max-width: 1024px) {
			@include fz(28);			
			margin-bottom: 30px;	
		}

		@media (max-width: 599px) {
			@include fz(22);
			@include ls(0.66);	
			line-height: 171.364%;
			margin-bottom: 24px;	
		}
	}
}

.block-title {
	@include fz(24);
    font-weight: 600;
    text-transform: unset;
    @include ls(0.72);
    line-height: 133.333%;
    text-transform: uppercase;
    margin-bottom: 28px;
}
/*---- ICONS ---- */

::selection {
	background: $bgc;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: #FFF;
}
::-webkit-scrollbar-thumb {
	width: 4px;
	height: 4px;
	background-color: $primary;
}
::-webkit-scrollbar-thumb:hover {
	background: lighten($bgc, 8%);
}


.bg-blue {
	background-color: $bgc;
}
.bg-blue-light {
	background-color: $bgc_light;
}

.ui-more {
	@include fz(16);
	@include ls(0.64);
	text-transform: uppercase;		
	color: $primary;	
	width: max-content;
	transition: color 0.5s;
	display: flex;
	align-items: center;
	gap: 4px;

	@media (max-width: 599px) {
		@include fz(14);
		@include ls(0.56);		
		gap: 2px;
	}

	&:hover {
		color: $hover_btn;		
		svg {			
			path {
				stroke: $hover_btn;
			}				
		}
	}
	svg {
		width: 14px;
		height: 14px;
		margin-right: 4px;
		
		path {
			transition: stroke 0.5s;
		}
	}	
	&.right {
		// display: block;
		margin-left: auto;
	}
}

.ui-btn {	
	display: inline-block;
	vertical-align: middle;
	height: 62px;
	line-height: 62px;
	letter-spacing: 0.64px;
	max-width: 100%;
	position: relative;
	border: none;
	border-radius: 30px;
	padding-left: 32px;
	padding-right: 32px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background: $pink_btn;
	color: #FFF;
	text-align: center;
	@include fz(18);	
	font-weight: 500;
	cursor: pointer;
	// transition: background 0.5s ease-in-out;
	text-transform: uppercase;
	user-select: none;

	@media (max-width: 1680px) {
		height: 56px;
		line-height: 56px;
		@include fz(15);
		padding-left: 26px;
		padding-right: 26px;
	}
	@media (max-width: 768px) {
		height: 47px;
		line-height: 47px;
		@include fz(14);
		padding-left: 26px;
		padding-right: 26px;
	}

	svg {
		margin-left: 12px;		
		width: 14px;
		height: 14px;
		margin-right: 6px;
		transition: all 0.5s;

		path {
			transition: all 0.5s;
		}
	}	

	&.ui-btn-small {
		height: 41px;
		line-height: 41px;
		padding-left: 20px;
		padding-right: 20px;
		@include fz(16);
		@media (max-width: 1680px) {
			height: 38px;
			line-height: 38px;
			padding-left: 18px;
			padding-right: 18px;
			@include fz(14);
		}
		@media (max-width: 1366px) {
			height: 34px;
			line-height: 34px;
			padding-left: 14px;
			padding-right: 14px;
			@include fz(12);
		}
	}



	&.ui-btn-green {		
		background: $green_btn;		
	}	
	
	&.ui-btn-transparent {
		@include fz(16);	
		background: transparent;	
		color: $primary;
		height: unset;
		line-height: unset;
		letter-spacing: 0.64px;
		padding: 0;
		width: max-content;	
		&:hover {
			color: $hover_btn;
			background: none;
			svg {
				transition: all 0.5s;
				path {
					stroke: $hover_btn;
				}				
			}
		}
		svg {
			margin-left: 0;
			margin-right: 4px;
		}	
	}	

	&.ui-btn-tab {
		height: 68px;
		border-radius: 40px;
		padding-left: 38px;
		padding-right: 38px;
		@include fz(20);
		background: #FFF;
		color: $gray_dark;
		letter-spacing: 0.6px;
		box-shadow: 0px 6px 30px 0px rgba(43, 47, 137, 0.15);
		// transition: background 0.5s, color 0.5s;	

		@media (max-width: 599px) {
			height: 39px;
			line-height: 39px;
			@include fz(13);
			@include ls(0.52);
			font-weight: 500;
			padding-left: 22px;
			padding-right: 22px;
			box-shadow: 0px 2px 9px 0px rgba(43, 47, 137, 0.15);			
		}

		&.active {
			background: $pink_btn;
			color: #FFF;
		}

		&:hover {			
			background: $pink_btn;
			color: #FFF
		}
	}	

	&:hover {		
		background: $footer;
	}
	// &:active {		
	// 	transform: translate(0px, 2px);
	// }	
	
}

.ui-btn-circle {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: none;
	background: $pink_btn;
	position: relative;
	cursor: pointer;
	svg {
		width: 22px;
		height: 22px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}



.ui-field {	
	// border-radius: 30px;	
	// overflow: hidden;
	position: relative;	
	// display: flex;
	// align-items: center;	
	display: inline-block;
	// width: 400px;
	
	label.error {
		@include fz(12);
		position: absolute;
		color: $error;		
		left: 30px;
		bottom: 0;
		padding: 2px 4px;		
	}

	.input-icon {
		position: absolute;
		right: 21px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.ui-input {
		border-radius: 30px;
		height: 62px;
		color: $gray_dark;
		@include fz(18);      		
		font-weight: 400;
		@include ls(0.36);		
		background-color: $bgc;	
		width: 100%;			
		border: none;
		padding: 17px 32px;
		outline: none;

		@media (max-width: 768px) {		
			height: 52px;			
			@include fz(16);						
			padding: 14px 32px;
			
		}

		@media (max-width: 599px) {			
			height: 44px;			
			@include fz(14);
			@include ls(0.14);				
			padding: 12px 32px;
			
		}
		&.error {
			margin-bottom: 0px;
		}

		&.small {
			height: 40px;
		}		

		&::placeholder {
			color: $gray_dark;
		}

		&.error {
			border-color: $error;
		}
	}
	
	input:invalid + span:before {
		content: attr(placeholder);
		position: relative;
		color: $gray_dark;
	}
	  
	input:invalid + span:after {
		content: '*';
		position: relative;
		color: $error;
	}

	.ui-texarea {
		display: block;	
		border-radius: 30px;	
		height: 97px;
		color: $gray_dark;
		@include fz(18);      		
		font-weight: 400;
		@include ls(0.36);		
		background-color: $bgc;	
		width: 100%;		
		outline: none;		
		border: none;
		padding: 17px 32px;
		outline: none;
		resize: none;
		&::placeholder {
			color: $gray_dark;
		}
		&__aside {
			height: 185px;
		}
	}
}


.pagination {
	text-align: center;

	&-list {
		// display: inline-block;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: max-content;
		background-color: #FFF;        
		border-radius: 35px;        
		box-shadow: 0px 6px 30px 0px rgba(43, 47, 137, 0.15);
	}

	&-item {
		display: inline-block;		
		&-link {
			color: $gray_dark;
			text-align: center;
			@include fz(18);         
			font-weight: 500;      
			@include ls(0.72);         
			display: block;
			min-width: 62px;
			height: 62px;
			line-height: 62px;		
			padding-left: 6px;
			padding-right: 6px;
			border-radius: 50%;
			transition: color 0.5s, background-color 0.5s;
			&:hover {
				background-color: $primary;
				color: #FFF;
			}
			&.active {
				background-color: $primary;
				color: #FFF;
			}
		}
	}
}


  
.jq-checkbox {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $bgc;
	border: 3px solid $bgc;
	cursor: pointer;
}

.jq-checkbox.checked {
	position: relative;
	&::after {
		position: absolute;
		background-color: $primary;
	}
	background-color: $primary;
}

.hidden-mobile {
	@media (max-width: 599px) {
		display: none;
	}
}

.hidden-desktop {
	display: none;
	@media (max-width: 599px) {
		display: inline-block;
	}
}